body {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;

    --primary-color: #007936;
    --accent-color: #eee;
    --light-text-color: rgb(107, 107, 107);
}

/* Describes the styling of the one and only element with id="mainheader", note the # in front of mainheader */
#mainheader {
    background-color: var(--primary-color);
    font-size: 3rem;
    color: white;
}

/* #logo-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo-header img {
    margin-left: 30px;
} */

main {
    padding:2%;
    padding-top:0.5%;
}
a, a:link, a:visited {
    color:grey;
    font-family:'Franklin Gothic Medium';
}
a:hover {
    background-color: #ADADAD;
    color: #525252;
}
input {
    width:4.5em;
    height:1em;
}

nav
{
    height: 2rem;
    line-height: 2rem;
    background-color: var(--accent-color);
    text-align:center;
}

/* Describes the styling of all elements with class="parkname", note the . in front of parkname */
.parkname {
    background-color: var(--primary-color);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Describes the styling of all <article> elements */
article {
    border: 1px solid var(--primary-color);
    color: var(--light-text-color);
    margin: 5px;
    display: flex;
    flex-direction: column;

}
.articles {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.5em;
    padding-left:10%;
    padding-right:10%;
}
.order {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.badge {
    background-color: red;
    display: inline-flex;
    color: white;
    font-weight: bold;
    min-width: 9px;
    height: 20px;
    padding: 0 0px;
    border-radius: 9px;
    align-items:center;
    padding:0 3px
    
}
.badge.hidden {
    display:none;
}
.topbar {
    position: sticky;
    top: 0;
    text-align:center;
}
.orderbutton {
    display: block;
    border-radius:0.75em;
    border-style:solid;
    border-width:0.25em;
    background-color: #007936;
    border-color:#134C25;
    height:3em; 
    width:3em; 
    margin:0.2em;
    margin-top: auto;
    
}
.orderbutton:hover {
    border-style:dashed;
    border-width:0.35em;
    height:3.5em;
    width:3.5em;
    cursor:grab;
}
.orderbutton:active {
    background-color: #134C25;
    border-color:#007936;
    cursor:grabbing;
}
.orderbutton:disabled {
    background-color: #808080;
    border-color:#5C5C5C;
    cursor:not-allowed;
}
.orderTotal {
    max-width:300px;
}
.orderlist {
    padding-left:10%;
    padding-right:10%;
}


#discoverablemap {
    height: 80vh;
    width: 90%;
    background-color: whitesmoke;
    padding-right:10%;
    padding-bottom:0%
}

@media (max-width: 780px) {
    .articles {
        display:column;
        min-width: 150px;
        max-width: 90%;
        padding-left:5%;
        padding-right:5%;
        font-size:0.9rem
    }
    .order {
        padding-top: 2%;
    }
    .orderlist {
        padding-left:5%;
        padding-right:5%;
    }
    #mainheader {
        font-size: 2.5rem;
    }
    nav {
        font-size: 0.9rem;
    }
    .parkname {
        font-size: 1.8rem;
    }
    input {
        width:4.5em;
        height:1em;
    }
    .orderbutton {
        border-radius:0.67em;
        border-width:0.22em;
        height:2.7em; 
        width:2.7em; 
    }
    .orderbutton:hover {
        border-width:0.32em;
        height:3.15em;
        width:3.15em;
    }
}

@media (max-width: 480px) {
    .articles {
        padding-left:2%;
        padding-right:2%;
        font-size:0.8rem;
        max-width:96%
    }
    .order {
        padding-top: 2%;
    }
    .orderlist {
        padding-left:2%;
        padding-right:2%;
    }
    #mainheader {
        font-size: 2rem;
    }
    nav {
        font-size:0.75rem;
    }
    .parkname {
        font-size: 1.5rem;
    }
    input {
        width:4em;
        height:0.8em;
    }
    .orderbutton {
        border-radius:0.60em;
        border-width:0.2em;
        height:2.4em; 
        width:2.4em; 
    }
    .orderbutton:hover {
        border-width:0.28em;
        height:2.8em;
        width:2.8em;
    }

}
@media (max-width: 400px) {
    .articles {
        padding-left:1px;
        padding-right:1px;
        width:auto;
        font-size:0.7rem;
        max-width:98%
    }
    #mainheader {
        font-size:1.5rem;
    }
    nav {
        font-size:0.6rem;
    }
    .parkname {
        font-size: 1.2rem;
    }
    input {
        width:3.5em;
        height:0.6em;
    }
    .orderbutton {
        border-radius:0.4em;
        border-width:0.12em;
        height:2em; 
        width:2em; 
    }
    .orderbutton:hover {
        border-width:0.2em;
        height:2em;
        width:2em;
    }
}