body {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;

    --primary-color: #007936;
    --accent-color: #eee;
    --light-text-color: rgb(107, 107, 107);
}

/* Describes the styling of the one and only element with id="mainheader", note the # in front of mainheader */
#mainheader {
    background-color: var(--primary-color);
    font-size: 3rem;
    color: white;
}

#logo-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo-header img {
    margin-left: 30px;
}

main {
    padding:25px;
    padding-top:10px;
}
a, a:link, a:visited {
    color:grey;
    font-family:'Franklin Gothic Medium';
}
a:hover {
    background-color: #ADADAD;
    color: #525252;
}
input {
    width:4.5em;
}


nav
{
    height: 2rem;
    line-height: 2rem;
    background-color: var(--accent-color);
    text-align:center;
}

/* Describes the styling of all elements with class="parkname", note the . in front of parkname */
.parkname {
    background-color: var(--primary-color);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Describes the styling of all <article> elements */
article {
    border: 1px solid var(--primary-color);
    color: var(--light-text-color);
    margin: 5px;
    display: flex;
    flex-direction: column;

}
.articles {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.5em;
}
.order {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.badge {
    background-color: red;
    display: none;
    color: white;
    font-weight: bold;
    width: 25px;
    border-radius: 25px;
}
.topbar {
    position: sticky;
    top: 0;
    text-align:center;
}
.orderbutton {
    display: block;
    border-radius:0.75em;
    border-style:solid;
    border-width:0.25em;
    background-color: #007936;
    border-color:#134C25;
    height:3em; 
    width:3em; 
    margin:0.2em;
    margin-top: auto;
    
}
.orderbutton:hover {
    border-style:dashed;
    border-width:0.35em;
    height:3.5em;
    width:3.5em;
    cursor:grab;
}
.orderbutton:active {
    background-color: #134C25;
    border-color:#007936;
    cursor:grabbing;
}